.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 2%;
    width: 100%;
    border-radius: 25px;

}

.carrousel_image {
    width: 1700px;
    max-width: 100%;
    height: 500px;
    z-index: 0;
    object-fit: fill;
    border-radius: 25px;

}

.fleche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 1750px;
    height: 250px;
    position: absolute;
    max-width: 90%;
}

.fa-chevron-left {
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}

.fa-chevron-right {
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.box_left {
    margin-left: 1%;
}

.box_right {
    margin-right: 1%;
}

.number {
    display: flex;
    position: absolute;
    bottom: 360px;
    font-size: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/*partie body presentation*/
.main_fiche {
    width: 100%;
    display: flex;
    align-items: center;
     margin-top: 5%;
    flex-direction: column;
    height: 500px;
}

.partie1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.presentation{
    height: 200px;
}

.titre_logement {
    font-size: 36px;
    color: #FF6060;
    font-family: 'Montserrat';
}

.lieux {
    font-size: 18px;
    color: #FF6060;
    font-family: 'Montserrat';
    margin-top: 1%;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    
    margin-top: 4%;
    
}
.top_tags {
    font-size: 10px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    flex-direction: row;
    

}
.host{
    display: flex;
    flex-direction: column;
}

.host_photo {
    border-radius: 50%;
    height: 100%;

}

.host_nom {
    color: #FF6060;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 142.6%;
    display: flex;
    
    justify-content: space-between;
    width: 229px;
    height: 120px;


}

.partie2 {
    display: flex;
    justify-content: center;
    width: 1650px;
    margin-top: 2%;
    max-width: 90%;

}

.bottom-logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.accordion-item {
    width: 800px;
    max-width: 45%;

}

.accordion-title {
    background: #FF6060;
    border-radius: 10px;
    height: 52px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.accordion-content {

    border-radius: 10px;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    max-width: 98%;
    height: 250px;
    line-height: 142.6%;
    background-color: #F6F6F6;
    padding: 1%;


}


@media screen and (max-width: 1300px) {
    .number {
        display: flex;
        position: absolute;
        bottom: 390px;
        font-size: 30px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }


    .accordion-title {
        background: #FF6060;
        border-radius: 10px;
        width: 300px;
        max-width: 90%;
        height: 52px;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

    }

    .accordion-item {
        max-width: 100%;
        width: 300px;
    }

    .accordion-content {
        border-radius: 10px;
        color: #FF6060;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        width: 80%;
        height: 250px;
        line-height: 200.6%;
        background-color: #F6F6F6;
    }

    .fleche {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        width: 100%;
        height: 250px;
        position: absolute;


    }

    .bottom-logement {
        width: 100%;
        justify-content: space-between;

    }

    .accordion-item {
        width: 400px;
    }

    .partie2 {
        width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .carrousel {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        margin-top: 5%;
        width: 100%;
        border-radius: 25px;

    }

    .carrousel_image {
        width: 700px;
        height: 400px;
        max-width: 100%;
        z-index: 0;
        object-fit: fill;
    }
    .fleche {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        width: 700px;
        max-width: 99%;
        height: 250px;
        position: absolute;
    }
    .fa-chevron-left {
        font-size: 50px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .fa-chevron-right {
        font-size: 50px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .number {
        display: none;
        position: absolute;
        bottom: 390px;
        font-size: 30px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }
    .main_fiche {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
        height: auto;
    }
    .partie1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        height: 350px;
    }
    .presentation{
        height: 100px;
    }

    .tag {
        width: 330px;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100px;
    }
    .host{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    

    .bottom-logement {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .titre_logement {
        font-size: 20px;
        color: #FF6060;
        font-family: 'Montserrat';
    }

    .lieux {
        font-size: 15px;
        color: #FF6060;
        font-family: 'Montserrat';
    }
    .host_nom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 190px;
    }
    .host_photo{
        display: flex;
        width: 80px;
        justify-content: space-evenly;

    }
     .partie2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin-top: 0px;
        height: auto;
    }

    .accordion-item {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .accordion-title {
        width: 100%;
        max-width: 100%;
        font-size: 15px;
       
    }

    .accordion-content {
        border-radius: 10px;
        color: #FF6060;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        width: 98%;
        height: 250px;
        line-height: 200.6%;
        background-color: #F6F6F6;
    }

}
